snippet go
	go func() {
		${1}
	}()
#for over array, slice, string or map
snippet fora
	for ${1:_, val} := range ${2:arr} {
		${3}
	}
#for while
snippet forw
	for ${1:condition} {
		${2}
	}
#for c
snippet forc
	for ${1:init}; ${2:condition}; ${3:post} {
		${4}
	}
# for (;;) {}
snippet fore
	for {
		${1}
	}
snippet if
	if ${1:condition} {
		${2}
	}
snippet ife
	if ${1:condition} {
		${2}
	} else if ${3:condition} {
		${4}
	}
snippet fun
	func ${1:name}(${2:args}) {
		${3}
	}
